@media (prefers-color-scheme: dark) {
    :root {
        --bg: #282a36;
        --accent-bg: #393b47;
        --text: #f8f8f2;
        --text-light: #e7e7e1;
        --border: #50fa7b;
        --accent: #8be9fd;
        --accent-light: #bd93f9;
        --code: #ff79c6;
        --preformatted: #f1fa8c;
        --marked: #ff5555;
        --disabled: #6272a4;
    }
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
